@keyframes row-hero {
    0% {
        transform: scale(0.01);
        translate: -100%;
        z-index: 1;
    }
    100% {
        transform: scale(1);
        translate: 0%;
        z-index: 0;
    }
}

.hero-row-animation {
    animation-name: row-hero;
    animation-duration: 3s;
    position: relative;
}